@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
.gotu-regular {
    font-family: "Gotu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  